/data_sets

# Local creds
.env
*.pem
*.key
*credentials*

# AWS CLI config (don’t push these!)
.aws/

# Data artifacts
data_sets/*
*.csv
*.csv.gz
*.parquet

# Model weights
model_weights/*
*.json
*.pkl
*.h5

# Python junk
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

# IDE/editor junk
.vscode/
.idea/