/data_sets

#terraform
# Local Terraform state
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform working dir
.terraform/
.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Override configs (often local hacks)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS/editor junk
.DS_Store
*.swp


# Local creds
.env
*.pem
*.key
*credentials*

# AWS CLI config (don’t push these!)
.aws/

# Data artifacts
data_sets/*
*.csv
*.csv.gz
*.parquet

# Model weights
model_weights/*
*.json
*.pkl
*.h5

# Python junk
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

# IDE/editor junk
.vscode/
.idea/